.input__title {
    color: #A0A0A0;
    font-size: 10px;
    margin: 0 0 5px;
}

.input {
    border: 0;
    width: 396px;
    height: 17px;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
}

.input:focus {
    outline: 0;
    border-bottom: 1px solid #3456F3;
}

.input__error {
    display: block;
    color: #FF3055;
    font-size: 10px;
    /* opacity: 0; */
    height: 12px;
    margin: 6px 0 8px;
}

@media (max-width: 500px) {
    .input {
        width: 260px;
    }
}