.auth-form {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: 560px;
    margin: calc((100vh - 560px)/2) auto;
}

.auth-form__logo {
    width: 38px;
}

.auth-form__title {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 40px;
}

.auth-form__form {
    height: 380px;
    position: relative;
}

.auth-form__button {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: 396px;
    height: 45px;
    border-radius: 3px;
    background: #3456F3;
    border: 0px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: .3s opacity;
    outline: none;
}

.auth-form__button:hover {
    opacity: .8;
}

.auth-form__button_disabled {
    background-color: #E8E8E8;
    cursor: default;
}

.auth-form__button_disabled:hover {
    opacity: 1;
}

.auth-form__message {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    font-size: 14px;
}

.auth-form__question {
    color: #A0A0A0;
    margin: 0;
}

.auth-form__link {
    color: #3456F3;
    text-decoration: none;
    margin-left: 6px;
    transition: .3s opacity;
}

.auth-form__link:hover {
    opacity: .7;
}

@media (max-height: 580px) {
    .auth-form {
        margin: 10px auto;
    }
}


@media (max-width: 500px) {
    .auth-form {
        width: 260px;
        height: 694px;
        align-items: center;
        margin: 56px auto 30px;
    }

    .auth-form__title {
        margin: 50px 0 80px;
    }

    .auth-form__button {
        width: 260px;
    }

    .auth-form__message {
        font-size: 12px;
        padding-top: 14px;
    }

    .auth-form__form {
        height: 468px;
    }
}