.header {
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_theme_blue {
    background-color: #073042;
}

.header__logo {
    width: 38px;
    height: 38px;
    background-image: url(../../images/logo.svg);
    transition: .3s opacity;
}

.header__logo:hover {
    opacity: .8;
}

.header__menu-open, .header__menu, .header__burger{
    display: none;
}

.header__close-button {
    background: transparent url(../../images/close-icon.svg) center no-repeat;
    width: 22px;
    height: 22px;
    border: 0;
    position: absolute;
    right: 22px;
    top: 22px;
    transition: .3s opacity;
    cursor: pointer;
}

.header__close-button:hover {
    opacity: .8;
}

.header__menu-content {
    display: none;
}

@media (max-width: 800px) {
    .header {
        padding: 15px 30px;
    }

    .header__menu-content {
        display: flex;
        width: 68%;
        height: calc(100vh - 250px);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 159px 0 90px;
    }

    .header__burger {
        display: block;
        width: 44px;
        height: 44px;
        background: transparent url(../../images/burger-icon.svg) center no-repeat;
        border: 0;
        transition: .3s opacity;
        cursor: pointer;
    }

    .header__burger_theme_blue {
        background: transparent url(../../images/burger-white-icon.svg) center no-repeat;
    }

    .header__burger:hover {
        opacity: .8;
    }

    .header__wrapper {
        display: none;
    }

    .header__menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);
        z-index: 1;
    }

    .header__menu_active {
        display: block;
    }
}

@media (max-width: 500px) {
    .header__menu-content {
        width: 100%;
        height: calc(100vh - 190px);
        padding: 144px 0 46px;
        
    }

    .header {
        padding: 15 px 14px;
    }
}

